/*GOOGLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*BASIC RESET*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-container{
  font-family: 'poppins';
  background-image: url(../images/top-img.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}
/*NAVBAR*/
.navbar{
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(153, 223, 153, 0.9);
  height: 50px;
  padding: 0 20px;
  border-radius: 10px;
}

.navbar ul{
  display: flex;
  font-weight: 500;
  gap: 30px;
  list-style: none;
}

.right{
  display: flex;
}

.icons{
  display: flex;
  gap: 10px;
}

.icons i{
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

.search-box{
  background: #efefef;
  border-radius: 50px;
  width: 350px;
  height: 30px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.search-box input{
  height: 100%;
  font-size: 16px;
  background: #efefef;
  outline: none;
  border: none;
  padding: 0 5px;
}

.search-box img{
  height: 23px;
}

.hero-h3{
  color: rgba(0, 43, 0, 0.9);
  font-size: 34px;
  position: absolute;
  top: 200px;
  left: 30px;
}

.hero-h1{
  font-family: 'playfair';
  color: #fff;
  position: absolute;
  top: 250px;
  left: 30px;
  font-size: 50px;
}

.hero-p{
  position: absolute;
  top: 370px;
  left: 30px;
  color: #000;
}

.hero-btn{
  position: absolute;
  top: 475px;
  left: 30px;
  border: none;
  background: #E0F900;
  height: 40px;
  padding: 0 15px;
  border-radius: 50px;
}

.product{
  background: #FFE0E5;
  height: 1050px;
}

.product-heading{
  font-family: 'playfair';
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 10px;
}

.product-img{
  width: 200px;
}

.product-container, .product-container img{
  background: #fff;
  width: 190px;
  border-radius: 10px;
}

.product-container h4,.product-container p, .product-container h3{
  text-align: center;
}

.product-container p{
  padding-bottom: 10px;
}

.product-container h3{
  font-family: 'playfair';
  font-size: 32px;
  color: #15A215;
}

.product-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding-left: 30px;
}

.experience{
  background: #F4F4FF;
  background-image: url(images/lemon-essential-oil.jpg);
  background-repeat: no-repeat;
  background-position: right;
  height: 300px;
  border-bottom: 4px solid #D6D6D6;
  
}

.et{
  letter-spacing: 3px;
  padding-top: 100px;
}

.content-container{
  padding-left: 50px;
}

.experience h1{
  font-family: 'playfair';
}

.footer, .footer h3{
  background: #000;
  color: #FFC65D;
}

.footer-one h3{
  margin-top: 20px;
  color: #FFC65D;
}

.footer-one p{
  margin-top: 10px;
  color: #fff;
}

.footer-one{
  display: flex;
  justify-content: space-evenly;
}

.handle{
  padding-left: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.handle i{
  color: #fff;
}
